@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
html, body {
  margin-top: 50px;
  margin-left: 100px;
  font-family: 'Space Mono', monospace;
}

canvas {
  display: block;
}

